# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

<!doctype html> 
<html> 
    <head> 
        <title>Erren River</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="deepurple-xjtu" />
        <link href="css/impress-demo.css" rel="stylesheet" /> 
    </head> information
    <body>about the river ,we want to introduce

    </body>
</html>
